.Track {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  min-height: 5rem;
}

.Track:hover .Dropdown-container {
  display: block;
}
  
.Track-action-add, .Track-action-remove {
  cursor: pointer;
  box-sizing: border-box;
  width: 30px;
  padding: .5rem;
  font-size: 1.05rem;
  border: 0px;
  margin-left: 2px;
  transition: color .25s;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.Track-action-remove {
  content: "\2713";
  color: lightgreen
}
  
.Track-action-add:hover {
  color: rgba(265, 265, 265, .5);
}

.Track-action-remove:hover {
  color: green;
}
  
.Track-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 72px;
}
  
.Track-information h3 {
  margin-bottom: .22rem;
}
  
.Track-information p {
  font-size: .83rem;
  font-weight: 350;
  color: rgba(256, 256, 256, 0.8);
}

@media only screen and (max-width: 280px) {
  .Track {
    min-height: 8.5rem;
  }
}