.Dropdown-container {
  display: none;
  margin-left: 6px;
  margin-right: 10px;
  text-align: left;
  position: relative;
  border-radius: 4px;
  height: 30px;
  background-color: #fff;
  z-index: 1;
}
  
.Dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Dropdown-selected-value, .Dropdown-placeholder {
  color: rgba(1, 12, 63);
}

.Dropdown-selected-value {
  display: flex;
}

svg path {
  fill: rgba(1, 12, 63);
}

.Close-button-tag {
  display: flex;
  cursor: pointer;
}

.Close-button-tag svg path {
  fill: #fff;
}

.Close-button-option svg path {
  fill: rgba(1, 12, 63);
}

.Dropdown-menu-container {
  position: absolute;
  transform: translateY(2px);
  transform: translateX(-230px);
  width: 300px;
}

.Dropdown-menu {
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #fff;
}

.Dropdown-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
  color: rgba(1, 12, 63);
}

.Dropdown-extra-space {
  height: 30px;
}

.Dropdown-item:hover {
  background-color: #9fc3f870;
}

.Dropdown-tags {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  background-color: lightgray;
}

.Dropdown-tags input {
  min-width: 30%;
  max-width: 100%;
  border: none;
  padding: 8px;
  background-color: lightgray;
}

.Dropdown-tag-item {
  display: flex;
  align-items: center;
  margin: 3px;
  margin-right: 10px;
  padding-right: 5px;
  background-color: #6c41ec;
  color: #fff;
  padding: 2px 4px;
  border-radius: 5px;
}

.Dropdown-tag-close {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 450px) {
  .Dropdown-container {
    margin-left: 6px;
    margin-right: 4px;
  }

  .Dropdown-menu-container {
    transform: translateX(-80px);
    width: 150px;
  }
}