body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  margin-bottom: 1rem;
} 

.App {
  box-sizing: content-box;
  position: absolute;
  left: 260px;
  right: 0;
  padding: 0 10% 10% 10%;
  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }

  .App {
    position: static;
    left: 0;
  }
}
