.Navigation {
  box-sizing: content-box;
  position: fixed;
  width: 230px;
  height: 100%;
  overflow-y: scroll;
  padding: .88rem;
  background-color: rgba(1, 12, 63);
  box-shadow: 0 4px 2px 2px #000000;
  z-index: 1;
}

h1 {
  padding: .77rem 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  margin-bottom: 1rem;
  color: #fff;
}

h1 .highlight {
  color: #6c41ec;
}

.Navigation-login {
  padding-bottom: 1.5rem;
  border-bottom: solid 1px gray;
  margin-top: 2rem;
}

.Navigation-login h3 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.Navigation-login h3:hover {
  color: #6c41ec;
}

.Playlists {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
  
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
  
@media only screen and (max-width: 1020px) {
  .Navigation {
    display: none;
  }
}