.Playlist {
    display: flex;
    align-items: center;
    height: 4rem;
}

.Playlist-information h3 {
    cursor: pointer;
}

.Playlist-information h3:hover {
    color: gray;
}

.No-hover {
    cursor: pointer;
    box-sizing: border-box;
    width: 30px;
    padding: .5rem;
    font-size: 1.05rem;
    border: 0px;
    margin-left: 2px;
    transition: color .25s;
    background-color: rgba(0, 0, 0, 0);
    content: "\2713";
    color: #6c41ec;
}
  
.Playlist-information, .Playlist-to-add {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    color: #fff;
}
  
.Playlist-information, .Playlist-to-add h3 {
    margin-bottom: .25rem;
}