.NewPlaylist {
    display: flex;
    align-items: center;
}
  
.NewPlaylist-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    color: lightgray;
}

.NewPlaylist-action {
    cursor: pointer;
    padding: .5rem;
    font-size: 1.05rem;
    transition: color .25s;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: lightgray;
}
  
.NewPlaylist-action:hover {
    color: rgba(265, 265, 265, .5);
}

.NewPlaylist-information h3 {
    margin-bottom: .22rem;
}