.NavMobile {
   display: none;
   position: fixed;
   width: 100%;
   margin: 0;
   padding: 0;
}

@media only screen and (max-width: 1020px) {
    .NavMobile {
        display: flex;
        justify-content: center;
        background-color: rgba(1, 12, 63);
        height: 3.2rem;
    }

    h1 {
        padding: .5rem 0;
        font-family: 'Poppins', sans-serif;
        font-size: 1.88rem;
        margin-bottom: 1rem;
        color: #fff;
    }

    h1 .highlight {
        color: #6c41ec;
    }

    .Menu-open {
        position: absolute;
        right: 1.5rem;
        background-color: transparent;
        padding-top: 0.5rem;
    }

    .Menu-open:hover, .Menu-close:hover {
        cursor: pointer;
    }

    .Menu-open div {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
    }
}

